@import 'media';
@import 'variables';

.about {
    position: relative;
    background-color: $green;
    color: #fff;
}

.about__header {
    position: relative;
    left: 5%;
    margin-top: 4rem;
    text-align: center;
    width: 85%;

    @include media-tablet {
        margin-top: 2rem;
    }

    @include media-mobile {
        width: 100%;
        left: 0;
    }
}

.about__text {
    position: relative;
    left: 5%;
    font-size: 1.125rem;
    width: 85%;
    margin-top: 1.25em;

    @include media-mobile {
        width: 100%;
        left: 0;
    }
}

.tablet-hide {
    @include media-tablet {
        display: none;
    }

    @include media-mobile {
        display: block;
    }
}

.image-container {
    padding: 0;

    @include media-mobile {
        margin-top: 2rem;;
    }
}